<html lang="en">
    <head>
        <title>DCQuest</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
        <script src="{{ url_for('static', filename='js/p5.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
    </head>
    
    <body>
        
        <script>
            var myp5 = new p5(sketch, 'p5sketch');
            myp5.token = "{{ token }}" ;
            myp5.playerName = "{{ name }}" ;
        </script>
        <div id = "p5sketch"></div>
    </body>
</html>